@page "/Chat"
@using HttpClients.Services
@inject ChatService ChatService
<h3>Chat</h3>

<PageTitle>Chat</PageTitle>

@if (_chats == null && _errorLabel == null)
{
    <p>Loading...</p>
} else if (_errorLabel != null)
{
    <p>Error: @_errorLabel</p>
} else if (_chats != null)
{
    <li>
        @foreach (string chat in _chats)
        {
            <p>@chat</p>
        }
    </li>
}

@code {
    // replace with auth stuff
    private int _userId = 1;

    private ICollection<string> _chats;
    private string? _errorLabel;

    protected override async Task OnInitializedAsync()
    {
        
    }

    public async Task FetchChats()
    {
       // do stuff
    }
}