@page "/chat"
@using HttpClients.Services
@using HttpClients
@inject ChatService ChatService

<PageTitle>Chat</PageTitle>

<div>
    <h1>Create Chat Form</h1>
    <CreateChatForm />
</div>

@if (chats == null && errorLabel == null)
{
    <p>Loading...</p>
} 
else if (errorLabel != null)
{
    <p>Error: @errorLabel</p>
} 
else if (chats != null)
{
    <div>
        <h1>Chats</h1>
        <div>
            @foreach (BasicChatDTO chat in chats)
            {
                <div>
                    <h3>Chat: @chat.Id</h3>
                    <ul>
                        @foreach (int userId in chat.UserIds)
                        {
                            <li>User: @userId</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
}

@code {
    // replace with auth stuff
    private readonly int userId = 2;

    private ICollection<BasicChatDTO>? chats;
    private string? errorLabel;

    protected override async Task OnInitializedAsync()
    {
        await FetchChats();
    }

    private async Task FetchChats()
    {
        try
        {
            errorLabel = null;
            ChatOverviewDTO chatOverview = await ChatService.GetChatOverviewAsync(userId);

            chats = chatOverview.Chats;
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
            chats = null;
        }
    }
}