@page "/"
@using HttpClients.Services
@using HttpClients
@inject UserService UserService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Response: @responseLabel</p>

<button onclick="@ClickHandler">Click lol</button>
<button onclick="@CreateHandler">Create</button>

@code
{
    String responseLabel = "Nothing yet";
    
    private async Task ClickHandler()
    {
        User response = await UserService.FindByIdAsync(2);
        responseLabel = response.Id;
    }

    private async Task CreateHandler()
    {
        User userToCreate = new()
        {
            Id = "Yo"
        };

        User user = await UserService.CreateAsync(userToCreate);
        
        responseLabel = user.Id;
    }
    
}