@page "/Matching/Substitutes"
@using HttpClients.Services
@using HttpClients
@inject MatchingService MatchingService;

<h3>Substitutes</h3>
<div>
    <MudGrid Justify="Justify.Center" Spacing="2">
        <MudItem xs="12" Class="d-flex align-content-center justify-content-center">
            <MudPaper Class="represent">
                <MudPaper class="infoBox">
                    <MudText Class="infoText">@_currentDateId</MudText>
                </MudPaper>
                <MudItem Class="d-flex align-content-center justify-content-center matchBtns">
                    <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Success" @onclick="SendSubstituteMatchRequest">JA</MudButton>
                    <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Error" @onclick="NextMatch">NEJ</MudButton>
                </MudItem>
            </MudPaper>
        </MudItem>
    </MudGrid>

</div>
@code {
    private readonly int _userId = 1; 
    private int _currentDateId;
    private Stack<SubstituteMatchingDTO> _substitutes;

    protected override async Task OnInitializedAsync()
    {
        SubstituteMatchingDTOs gigsAsync = await MatchingService.GetSubstitutesAsync(new SubstituteSearchParametersDTO()
        {
            CurrentEmployerId = _userId
        });
        _substitutes = new Stack<SubstituteMatchingDTO>(gigsAsync.PossibleMatches);
        _currentDateId = _substitutes.Pop().Id;
    }
 
    private async void SendSubstituteMatchRequest()
    {
        MatchValidationDTO dto = await MatchingService.SendGigsMatchRequestAsync(new MatchRequestDTO()
        {
            CurrentUser = _userId,
            MatchId = _currentDateId
        });
        NextMatch();
    }

    private void NextMatch()
    {
        _currentDateId = _substitutes.Pop().Id;
    }
    
}

<style>
    .represent{
    width: 95%;
    }
    
    .infoBox {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
    }
    
    .infoText {
    font-size: 500%;
    padding: 5%;
    text-align: center;
    }
    
    .matchBtns {
    margin: 1em;
    }
</style>
