@page "/Matching/Substitutes"
@using HttpClients.Services
@using HttpClients
@inject MatchingService MatchingService;

<h3>Substitutes</h3>
<div>
    <MudGrid Justify="Justify.Center" Spacing="2">
        <MudItem xs="12" Class="d-flex align-content-center justify-content-center">
            <MudPaper Class="represent">
                <MudPaper class="infoBox">
                    @if (_isWaiting)
                    {
                        <MudText Class="infoText">
                            <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Indeterminate="true"/>
                        </MudText>
                    }else
                    {
                        @if (_areStillSubstitutesToMatch)
                        {
                            <MudText Class="infoText">@_currentDateId</MudText>
                        }
                        else
                        {
                            <MudText Class="infoText">@_somethingIsWrongText</MudText>
                        }
                    }
                </MudPaper>
                <MudItem Class="d-flex align-content-center justify-content-center matchBtns">
                    <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Success" @onclick="@(e => SendSubstituteMatchRequest(true))">JA</MudButton>
                    <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Error" @onclick="@(e => SendSubstituteMatchRequest(false))">NEJ</MudButton>
                </MudItem>
            </MudPaper>
        </MudItem>
    </MudGrid>

</div>
@code {
    private readonly int _userId = 1; 
    private int _currentDateId;
    private Stack<SubstituteMatchingDTO> _substitutes = new();
    private bool _areStillSubstitutesToMatch = true;
    private bool _isWaiting = true;
    private string _somethingIsWrongText;

    protected override Task OnInitializedAsync()
    {
        GetSubstitutesAsync();
        return Task.CompletedTask;
    }
 
    private async void SendSubstituteMatchRequest(bool wantToMatch)
    {
        await MatchingService.SendSubstituteMatchRequestAsync(new MatchRequestDTO()
        {
            CurrentUser = _userId,
            MatchId = _currentDateId,
            WantToMatch = wantToMatch
        });
        
        NextMatch();
        
        StateHasChanged();
    }

    private void NextMatch()
    {
        if (_substitutes.Count == 0)
            CantDisplayMatches("No more matches");
        if (_areStillSubstitutesToMatch)
            _currentDateId = _substitutes.Pop().Id;
    }
    
    
    private async void GetSubstitutesAsync()
    {
        _isWaiting = true;
        try
        {
            SubstituteMatchingDTOs substitutesAsync = await MatchingService.GetSubstitutesAsync(new SubstituteSearchParametersDTO()
            {
                CurrentEmployerId = _userId
            });
            foreach (var substituteMatchingDTO in substitutesAsync.PossibleMatches)
                _substitutes.Push(substituteMatchingDTO);
            NextMatch();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            CantDisplayMatches("Connection issues");
        }
        _isWaiting = false;
        StateHasChanged();
    }
    
    private void CantDisplayMatches(string reason)
    {
        _areStillSubstitutesToMatch = false;
        _somethingIsWrongText = reason;
    }
}

<style>
    .represent{
    width: 95%;
    }
    
    .infoBox {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
    }
    
    .infoText {
    font-size: 500%;
    padding: 5%;
    text-align: center;
    }
    
    .matchBtns {
    margin: 1em;
    }
</style>
